.git
.github
.bloop
.metals
.scala-build
.idea
.vscode
.pnpm-store
node_modules
target
**/target
**/node_modules
logs
tmp
*.log
docker-compose.override.yml
vortex/assets/catalog/*.png
vortex/assets/catalog/*.webp
vortex/assets/catalog/screenshots/
